.Explorer{
    background-color: white;
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.Cicrular{

    width: 120px;
}

.Bar{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    width: 100%;
    height: 8%;
    background-color: grey;
    border-radius: 20px 20px 0px 0px;
}

